/* External CSS */
h1 {
    color: rgb(0, 255, 183);
  }

p {
    color: rgb(0, 255, 183);
  }

td {
    color: rgb(0, 255, 183);
  }

ul {
    color: rgb(0, 255, 183);
  }
label {
    color: rgb(0, 255, 183);
  }
button {
    background-color: rgb(0, 88, 255);
    color: rgb(0, 255, 183);
  }

